backend:
  image:
    repository: ghcr.io/waddenn/projet-etude/backend
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
      cpu: 200m
      memory: 128Mi
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 5
    targetCPU: 70

frontend:
  image:
    repository: ghcr.io/waddenn/projet-etude/frontend
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  resources:
    requests:
      cpu: 25m
      memory: 16Mi
    limits:
      cpu: 100m
      memory: 64Mi

postgres:
  image: postgres:16-alpine
  storage: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

ingress:
  enabled: true
  host: devboard.local
  extraHosts: []
  email: admin@devboard.local
  tls:
    enabled: false
    issuer: selfsigned-issuer

certManager:
  enabled: false

networkPolicies:
  enabled: false
