apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: devboard-vault
spec:
  provider:
    vault:
      server: http://vault.security.svc.cluster.local:8200
      path: secret
      version: v2
      auth:
        tokenSecretRef:
          name: vault-token
          key: token
          namespace: external-secrets
